################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/obj/*
/*/obj
/*/obj/*
/*/*/*/obj
/*/*/*/obj/*
/bin
/bin/*
/*/bin
/*/bin/*
/*/*/*/bin
/*/*/*/bin/*
/wwwroot
/wwwroot/*
/*/wwwroot
TemporaryGeneratedFile_*.cs
*.cache
*.suo
*.user
*.dll
*.xml
